.about__me {
    margin: auto;
    text-align: left;
    font-family: var(--roboto-slab);
    padding-bottom: 100px;
    padding-top: 100px;
    max-width: 1700px;
}

.para1 {
    font-size: 40px;
    background-color: var(--color-green);
    border-radius: 12px;
    padding: 30px;
    color: #fff;
    font-size: 2vw;
}

.para2 {
    font-size: 1.5vw;
    text-align: justify;
    padding: 30px;
}

.para3 {
    font-size: 40px;
    text-align: justify;
    padding-top: 40px;
    background-color: var(--color-green);
    border-radius: 12px;
    padding: 30px;
    color: #fff;
    font-size: 2vw;
}

.para4 {
    font-size: 1.5vw;
    text-align: justify;
    padding: 30px;
}

.paraL {
    font-size: 40px;
    text-align: justify;
    padding-top: 40px;
    background-color: var(--color-green);
    border-radius: 12px;
    padding: 30px;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2vw;
}

.paraL2 {
    font-size: 1.5vw;
    text-align: justify;
    padding: 30px;
}

hr.line1 {
    width: 100%;
    margin-top: 100px;
}
